/* This will be anything that is specific to the main page as opposed to the "mystyle" file*/

mainBody{
	width:1105px;
	text-align:center;
}



#homeBody{
	display:inline-block;
	margin:15px;
	padding:0px;
}

#sideTracks {
	position:absolute;
	Background-color:#002EB8;
	text-align:center;
	height:100%;
	width:160px;
}	
	
#sideTracks ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}
	
#sideTracks ul li{
	padding:5px;
	height:25px;
	width:150px;
    cursor:pointer; 
    position:relative;	
}

#sideTracks ul li a{
	text-decoration:none;
	color:white;
}

#sideTracks ul li:hover {
	background-color:#33CCCC;
	
}

#sideTracks ul li ul {
	display:none;
	position:absolute;
}

#sideTracks ul li:hover ul {
	display:block;
	left:160px;
	top:0px;
}

#sideTracks ul li ul li {
	background-color:#33CCCC;
}

#sideTracks ul li ul li:hover {
	background-color:#00FF99
}

#sideTracks ul li:hover ul li ul{
	position:absolute;
	display:none;
}

#sideTracks ul li:hover ul li:hover ul {
	display:block;
}

#sideTracks ul li:hover ul li:hover ul li {
	background-color:#00FF99;
}

#sideTracks ul li:hover ul li:hover ul li:hover{
	background-color:#00FF00;
}

#sideTracks ul li:hover ul li:hover ul li ul {
	display:none;
	position:absolute;
}

#sideTracks ul li:hover ul li:hover ul li:hover ul {
	display:block;
	background-color:#00FF00;

}

#sideTracks ul li:hover ul li:hover ul li:hover ul li:hover{
	background-color:#33CC33;
}

#boxes{
	float:right; 
	width:80%;
	
}

#ideas {
	float:left;
	width:300px;
	height:300px;
	border-color:white;
	border-style:solid;
	border-width:1px;
	margin-left:30px;
	margin-bottom:30px;
	padding:15px;
	color:white;
	text-align:center;
}

#mouseClicks{
	margin:15px;
}
