/* This will be anything that is specific to the main page as opposed to the "mystyle" file*/

#mainBody{
	float:left;
	margin:15px;
	width:100%;
}

#mainImage {
	float:left;
	width:80%;
	height:auto;
	
}

#sideTracks {
	Background-color:#002EB8;
	float:left;
	width:20%;
	text-align:center;
	height:100%; /*still can't get this to work for some reason */
}	
	
#sideTracks ul{
	list-style-type:none;
	
	
}
	
#sideTracks ul li{
	padding:5px; 
	
}

#sideTracks ul li a{
	color:black;
	text-decoration:none;
}

#sideTracks ul {
	margin:0;
	padding:0;
}

#sideTracks .topMenu ul li .subMenu ul li {
	margin:0 0 0 40;
}

.subMenu li {
/*background color and other style attributes can be listed here, the important part is display:none as this keeps the list item from showing until you use the hover command below to display it */
	display:none;		
	background-color:#002EB8;
	border:1px solid black;
/*tried using margin and padding 0 to have it bump up against the other menu, no dice */
}

.topMenu .subMenu{			/*have to position here since the css will pull from both top and submenus */
	position:absolute;
	float:left;				/*float:left makes the list float outside of the original container */
	display:inline-block;	/*inline-block causes this to display to the right of menu instead of within */
/*margin:auto; doesn't work here for positioning the sub menu next to the original*/
}

.topMenu:hover ul li{
	display:block;
		
}
