/* This will be anything that is specific to the main page as opposed to the "mystyle" file*/

#mainBody{
	display:inline-block;
	height:500px;
	margin:15px;
	width:100%;
}

/* should probably find a better way to use this image or may have to do different settings for different screen sized */
#mainImage {
	float:left;
	width:810px;
}

#sideTracks {
	Background-color:#002EB8;
	float:left;
	text-align:center;
	height:100%;
}	
	
#sideTracks ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
	
#sideTracks ul li{
	padding:5px;
	height:25px;
	width:150px;
    cursor:pointer; 	
}

#sideTracks ul li a{
	color:black;
	text-decoration:none;
	
}

#sideTracks ul li:hover {
	background-color:#0033CC;
	position:relative;
}

#sideTracks ul li ul {
	display:none;
	position:absolute;
}

#sideTracks ul li:hover ul {
	display:block;
	left:160px;
	top:0px;
}

#sideTracks ul li ul li {
	background-color:#002EB8;	
}

