

#sites {
	margin:5px;
	background-color:#6699FF;
	text-align:center;
}

#sites ul{
	list-style-type:none;

		
}





#notes{
	background-color:white;
}

#notes2{
	background-color:white;
	padding:30px;
	margin:30px;
}

#notes2 li{
	padding:5px;
}

